.first-row{
    background-color: whitesmoke;
    padding: 8rem;
    
}
.my-image{
    max-height: 500px;
    
}
.intro{
    padding-top: 8rem;
}
.second-row{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: whitesmoke;
}


.social-link {
    text-decoration: none;
}