<div class="container">
    <div class="row first-row">
        <div class="col-12 col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/seventh.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Twitter Analysis</h5>
                    <p class="card-text">The project is a web application analysing the sentiments of tweeters on any topic on Twitter.</p>
                    <br>
                    <a href="https://github.com/utkarsshhh/tweet-analysis" class="btn btn-primary">Open</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/eight.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Video Analysis</h5>
                    <p class="card-text">The project is web application which generates the summary of a video by leveraging ChatGPT LLM model</p>
                    <a href="https://github.com/utkarsshhh/video-analysis" class="btn btn-primary">Open</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/fourth.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Starbucks Customer Segmentation</h5>
                    <p class="card-text">The project is an analysis of the reponse of Starbucks customers to offers,rewards and coupons </p>
                    <a href="https://github.com/utkarsshhh/starbucks-analysis" class="btn btn-primary">Open</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row first-row">
        <div class="col-12 col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/second.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Disaster Response Pipeline</h5>
                    <p class="card-text">The project is web application performing predictions on text input from user using a NLP pipeline</p>
                    <a href="https://github.com/utkarsshhh/disaster-response-pipeline" class="btn btn-primary">Open</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/first.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Boston Listings</h5>
                    <p class="card-text">The project is an analysis of AirBnB listings in Boston.</p>
                    <br><br>
                    <a href="https://github.com/utkarsshhh/Boston-Listings" class="btn btn-primary">Open</a>
                </div>
            </div>
        </div>
        
</div>