<div class="container">
    <div class="row first-row">
        <div class="col-12 col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/first.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Boston Listings</h5>
                <p class="card-text">The project is an analysis of AirBnB listings in Boston.</p>
                <a href="https://github.com/utkarsshhh/Boston-Listings" class="btn btn-primary">Open</a>
            </div>
        </div>
    </div>
    </div>
</div>